name: Publish Web CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      - name: Install and Build 
        run: |
          npm install
          npm run build
          npm test

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          branch: master
          folder: public 